.modal-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: white;
    border-radius: 20px;
    border:solid red;
    padding: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}