.ufixit-list-container {
  --list-heading-border-radius: var(--window-radius);
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: -1rem;
  padding-top: 1rem;
  overflow: hidden;

  .ufixit-list-scrollable {
    overflow-y: auto;
    min-height: 0;
    
    /* The top padding is in the parent so the stick header doesn't look goofy. */
    padding: 0 1rem 1rem 1rem;

    .ufixit-list-section-container {
      margin-bottom: .75rem;
      border-radius: var(--list-heading-border-radius);
      border: 1px solid var(--border-color);

      &.open {
        border: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .ufixit-list-heading {
      position: sticky;
      top: 0;
      background-color: var(--white);
      padding: .75rem 1rem;
      cursor: pointer;
      border-radius: var(--list-heading-border-radius);
      transition: border-radius var(--transition-time) ease-in-out;

      .ufixit-list-heading-counter {
        background-color: var(--gray-lightest);
        border: 1px solid var(--border-color);
        padding: 0 0.75rem;
        border-radius: 2rem;
        font-size: 0.9em;
        font-weight: 600;
        align-self: center;
        text-align: center;
        min-width: 1em;
      }
      
      h3 {
        margin: 0;
        font-weight: 600;
        font-size: 1.1em;
        align-self: center;
      }

      .expand-icon {
        transition: transform var(--transition-time) ease-in-out;
        border-radius: 2rem;

        &:hover {
          background-color: var(--white);
        }
      }

      &.open {
        background-color: var(--background-color);
        border: 1px solid var(--border-color);
        border-radius: 0; /* var(--list-heading-border-radius) var(--list-heading-border-radius) 0 0; */
      }
      
      &:hover, &:focus {
        background-color: var(--link-color-light);
      }

      &:focus {
        outline: 2px solid var(--focus-color);
        outline-offset: -2px;
      }
    }
    
  .ufixit-list-items-container {
    transition: max-height var(--transition-time) ease-in-out;
    max-height: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--background-color);
    border-radius: 0 0 var(--list-heading-border-radius) var(--list-heading-border-radius);

    &.open {
      max-height: 380px; /* Adjust as needed */
      border: 1px solid var(--border-color);
      border-top: none;
    } 
  }

    .ufixit-list-item {
      cursor: pointer;
      padding: 1rem 1rem;
      border-top: 1px solid var(--border-color);
      font-size: 1em;
      font-weight: 400;
      background-color: var(--white);

      &:first-child {
        border-top: none;
      }

      &:last-child {
        border-radius: 0 0 var(--list-heading-border-radius) var(--list-heading-border-radius);
      }

      .ufixit-list-content-type-icon-container {
        display: flex;
        padding: 0.4em;
        background: var(--gray-lightest);
        align-self: center;
        border: 1px solid var(--border-color);
        border-radius: var(--element-radius);
        box-sizing: border-box;
      }

      .list-item-subtitle {
        font-size: .85em;
        font-weight: 200;
        line-height: normal;
      }
    
      &:hover, &:focus {
        background-color: var(--link-color-light);
        color: var(--link-color);
        fill: var(--link-color);

        .list-item-title {
          text-decoration: underline;
        }
      }

      &:focus {
        outline: 2px solid var(--focus-color);
        outline-offset: -2px;
      }
    }
  }  
}