.live-preview-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  padding-bottom: 1rem;

  h3 {
    margin: 0;
  }

  a {
    font-weight: 300;
    text-align: end;
    text-decoration: none;
    font-size: .9em;
    display: flex;
    flex-direction: row;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }

}

.ufixit-content-preview {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-sizing: border-box;

  .ufixit-content-preview-rescan-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    z-index: 5;
    transform: translateX(calc(100% + 2rem));
    transition: transform var(--transition-time);

    &.active {
      transform: translateX(0);
    }

    .ufixit-content-preview-rescan {
      padding: 0.5rem 1rem;
      background-color: var(--primary-color-light);
      border: 1px solid var(--border-color);
      border-radius: 0 0 0 8px;
      margin-top: 0;
      transition: margin-left var(--transition-time);
      font-size: .9em;
      font-weight: 600;
      box-shadow: 0 0 3px var(--gray-dark);

      &.active {
        margin-left: calc(-1rem - 1px);
      }
    }
  }

  .ufixit-content-preview-main {
    position: absolute;
    top: 0px;
    padding: 1rem;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
    background-color: var(--white);
    
    h1, h2, h3, h4, h5, h6 {
      color: var(--text-color);
    }
  }
}

.ufixit-content-preview-no-error {
  background-color: var(--background-color);
  margin: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1rem 1.5rem;
}

.ufixit-error-highlight {
  outline: 3px dashed var(--issue-color);
  outline-offset: 1px;
  anchor-name: --ufixit-error-highlight;

  /* Errors without text won't have an outline unless they have a border to provide size */
  &:not(table) {
    border: 1px solid transparent;
  }
}

.scroll-to-error-container {
  position: sticky;
  top: 0;
  padding: 1rem 1.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  pointer-events: none;
  z-index: 10;
}

.scroll-to-error {
  opacity: 0.78;
  transition: opacity var(--transition-time);
  align-self: start;
  pointer-events: all;

  &:hover,
  &:focus,
  &:active {
    opacity: 1;
  }

  &#scroll-to-error-down {
    align-self: end;
  }
}

.ufixit-alt-text-preview {
  background-color: var(--gray-dark);
  color: var(--white);
  border-radius: 8px;
  width: fit-content;

  display: flex;
  flex-direction: row;
  border: 2px solid var(--gray-dark);
  margin: 5px 0px;
  
  .ufixit-alt-text-preview-icon {
    padding: 8px;
    line-height: 0px;
    fill: var(--white);
  }

  .ufixit-alt-text-preview-text-container {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem .5rem .25rem;
    max-width: 20em;
    overflow: auto;

    .ufixit-alt-text-preview-label {
      font-weight: 600;
      font-size: 1em;
      padding-bottom: .25em;
      color: var(--white);

      a {
        font-weight: 600;
        color: var(--white);
        text-decoration: none;
        cursor: default;
      }
    }

    .ufixit-alt-text-preview-text {
      font-weight: 400;
      font-size: .9em;
      line-height: 1.4em;

      a {
        font-weight: 400;
        color: var(--white);
        text-decoration: none;
        cursor: default;
      }
    }
  }
}

.ufixit-file-details {
  margin: 2rem 2rem 3rem 2rem;

  .ufixit-file-details-label {
    font-weight: bold;
    margin-right: 1rem;
    text-align: right;
    width: 30%;
    flex-shrink: 0;
  }
}

.ufixit-heading-highlight {
  margin-left: 20px;

  &.ufixit-error-highlight {
    margin-left: 19px;  /* To offset the required 1px border */
  }
  
  &::before {
    content: attr(ufixit-heading-type);
    font-size: .85rem;
    background-color: var(--gray-dark);
    color: #fff;
    position: absolute;
    padding: 4px;
    border-radius: 4px;
    margin-left: -32px;
    width: 20px;
    text-align: center;
    border: 1px solid var(--white)
  }
}