.messageTrayContainer {
  position: absolute;
  top: 3rem;
  right: 1rem;
  transform: translateX(calc(100vw));
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
  z-index: 1000;
  box-sizing: border-box;
  width: calc(100% - 2rem);
  max-width: 400px;

  .messageItemContainer {
    position: relative;
    background-color: var(--primary-color-light);
    box-shadow: 0px 0px 3px var(--gray-dark);
    transform: translateX(calc(100% + 20px));
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);

    &:not(:first-child) {
      margin-top: 1rem;
    }

    &.open {
      transform: translateX(0);
    }

    &.error {
      border: 1px solid var(--issue-color);
      background-color: var(--issue-color-light);
    }

    &.alert {
      border: 1px solid var(--potential-color);
      background-color: var(--potential-color-light);
    }

    &.success {
      border: 1px solid var(--success-color);
      background-color: var(--success-color-light);
    }

    &.info {
      border: 1px solid var(--info-color);
      background-color: var(--info-color-light);
    }

    &:hover {
      .closeButton {
        background-color: var(--white);
      }
    }

    .messageTrayItem {  
      padding: 1rem 2.75rem 1rem 1rem;
      box-sizing: border-box;
      font-size: .9em;
      font-weight: 500;
      color: var(--text-color)
    }

    .closeButton {
      position: absolute;
      top: .5rem;
      right: .5rem;
      padding: 0.15rem;
      border-radius: 2rem;
      background-color: transparent;
    }
  }

  .messageTrayAnimatedBorderContainer {
    width: 100%;
    height: 3px;
    display: flex;
    justify-content: end;

    .messageTrayAnimatedBorder {
      width: 100%;
      height: 100%;

      &.error {
        background-color: var(--issue-color);
      }

      &.alert {
        background-color: var(--potential-color);
      }

      &.success {
        background-color: var(--success-color);
      }

      &.info {
        background-color: var(--info-color);
      }

      &.ms5000 {
        width: 0;
        transition: width 5s linear;
      }
      &.ms10000 {
        width: 0;
        transition: width 10s linear;
      }
      &.ms20000 {
        width: 0;
        transition: width 20s linear;
      }
    }
  }
}




