.udoit-sortable-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8em;
  overflow-x: auto;
}

.udoit-sortable-table thead tr th {
  font-family: var(--heading-font-family);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  padding: .5rem .15rem .25rem .15rem;
  color: var(--primary-color-inverse);
  fill: var(--primary-color-inverse);
  border-bottom: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  transition: filter var(--transition-time) ease-in-out;
}

.udoit-sortable-table thead tr th:focus {
  outline: 2px solid var(--focus-color);
  outline-offset: -2px;
}

.udoit-sortable-table thead tr th:hover,
.udoit-sortable-table thead tr th:focus {
  filter: brightness(var(--hover-brightness));
}

.udoit-sortable-table thead tr th svg {
  transition: transform var(--transition-time) ease-in-out;
}

.udoit-sortable-table thead tr th .header-spacer {
  width: 32px;
  min-width: 32px;
  height: auto;
}

.udoit-sortable-table tbody tr td {
  padding: .15rem;
}

.udoit-sortable-table tbody tr td[textalign='end'] div {
  text-align: right;
}

.udoit-sortable-table tbody tr:hover td div,
.udoit-sortable-table tbody tr:hover td span {
  text-decoration: underline;
}

.udoit-sortable-table tbody tr a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: 600;
  transition: text-decoration 0.15s;
}

  thead tr th {
    font-family: var(--heading-font-family);
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;

    padding: .5rem .15rem .25rem .15rem;
    color: var(--primary-color-inverse);
    fill: var(--primary-color-inverse);
    border-bottom: 1px solid var(--primary-color);
    background-color: var(--primary-color);

    &.divider {
      border-right: 2px solid var(--primary-color-inverse);
    }

    &:focus {
      outline: 2px solid var(--focus-color);
      outline-offset: -2px;
    }

    &:hover,
    &:focus {
      filter: brightness(var(--hover-brightness));
      .clickable-text {
        text-decoration: underline;
      }
    }

    svg {
      transition: transform var(--transition-time) ease-in-out;
    }

    .header-spacer {
      width: 32px;
      min-width: 32px;
      height: auto;
    }
  }

  tbody {
    tr {
      td {
        padding: .15rem;

        &[textalign='end'] {
          div {
            text-align: right;
          }
        }

        &.divider {
          border-right: 2px solid var(--primary-color);
        }
      }

      a {
        color: var(--link-color);
        text-decoration: none;
        font-weight: 600;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      &.clickable {
        cursor: pointer;
        color: var(--link-color);
        text-decoration: none;
        font-weight: 600;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      .btn-icon-only {
        padding: .25rem .4rem;
        border-radius: 8px;
        background-color: transparent;
        fill: var(--link-color);

        &:hover,
        &:focus {
          background-color: var(--link-color);
          fill: var(--white);
        }

        &.btn-disabled,
        &.btn-disabled:hover,
        &.btn-disabled:focus {
          background-color: var(--gray-light);
          fill: var(--gray);
          cursor: not-allowed !important;
        }
      }
    }

    tr:nth-child(even) {
      td {
        background-color: var(--primary-color-light);
      }
    }

    tr:last-child {
      td {
        border-bottom: 1px solid var(--primary-color-dark);
      }
    }
  }
}

.paginationButton {
  padding: .2rem .5rem;
  min-width: 2rem;
  border-radius: 8px;
  background-color: transparent;
  color: var(--link-color);
  border-color: transparent;
  transition: background-color 0.15s, color 0.15s;
}

.paginationButton.selected {
  background-color: var(--link-color);
  color: var(--white);
}