.rounded-table-wrapper {
  border-radius: var(--element-radius);
  overflow: auto;
  border: 1px solid var(--border-color);
}

.udoit-sortable-table {
  width: 100%;
  min-width: 1200px;
  border-collapse: collapse;
  font-size: 0.8em;
  overflow-x: auto;

  thead {

    tr {
      border-bottom: 1px solid var(--border-color);

      th {
        font-family: var(--heading-font-family);
        font-weight: 600;
        cursor: pointer;
        padding: .5rem .5rem .25rem .5rem;
        color: var(--text-color);
        fill: var(--text-color);
        border-bottom: 1px solid var(--border-color);
        background-color: var(--gray-lighter);
        text-align: start;

        &:focus {
          outline: 2px solid var(--focus-color);
          outline-offset: -2px;
        }

        &:hover, &:focus {
          /* filter: brightness(var(--hover-brightness)); */
          background-color: var(--gray-lightest);

          .clickable-text {
            text-decoration: underline;
          }
        }

        &.divider {
          border-right: 2px solid var(--primary-color-inverse);
        }

        svg {
          transition: transform var(--transition-time) ease-in-out;
        }

        .header-spacer {
          width: 32px;
          min-width: 32px;
          height: auto;
        }
      }
    }
  }

  tbody {

    tr {
      background-color: var(--white);

      &:not(:last-child) {
        border-bottom: 1px solid var(--border-color);
      }

      &:hover {
        td div,
        td span {
          text-decoration: underline;
        }
      }

      &.clickable {
        cursor: pointer;
        /* color: var(--link-color);
        text-decoration: none;
        font-weight: 600; */

        &:hover,
        &:focus {
          text-decoration: underline;
          background-color: var(--link-color-light);
        }

        &:focus {
          outline: 2px solid var(--focus-color);
          outline-offset: -2px;
        }
      }

      td {
        padding: .5rem;

        &[textalign='end'] div {
          text-align: right;
        }

        &.divider {
          border-right: 2px solid var(--primary-color);
        }
      }

      a {
        color: var(--link-color);
        text-decoration: none;
        font-weight: 600;

        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      .btn-icon-only {
        padding: .25rem .4rem;
        border-radius: 8px;
        background-color: transparent;
        fill: var(--link-color);

        &:hover,
        &:focus {
          background-color: var(--link-color);
          fill: var(--white);
        }

        &.btn-disabled,
        &.btn-disabled:hover,
        &.btn-disabled:focus {
          background-color: var(--gray-light);
          fill: var(--gray);
          cursor: not-allowed !important;
        }
      }
    }
  }
}

.paginationButton {
  padding: .2rem .5rem;
  min-width: 2rem;
  border-radius: 8px;
  background-color: transparent;
  color: var(--link-color);
  border-color: transparent;
}

.paginationButton.selected {
  background-color: var(--link-color);
  color: var(--white);
}