.course-browser-container {
  padding: 0;
}

.course-browser-header {
  background-color: #fff;
  z-index: 1;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.course-browser-search {
  width: 85%;
  padding: 7px;
}

.course-browser-limit {
  display: block;
  margin-top: 5px;
  color: #666;
}

.course-browser-deselect {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.course-browser-list {
  padding: 10px;
}

.course-browser-label {
  display: block;
  margin-bottom: 10px;
}

.course-browser-label.disabled {
  color: #aaa;
}