config/localConfig.php

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

node_modules/
var
vendor
reports
public/build
assets/js/vendor/

config/log.log

docker/etc/nginx/nginx.conf
docker/var/ssl/nginx.crt
docker/var/ssl/nginx.key

.phpunit.result.cache