TITLE=Your institution name
LMS_DOMAIN=myschool.instructure.com
LMS_ID=canvas
LMS_ACCOUNT_ID=1234567
CREATED=2021-06-08
STATUS=1
VANITY_URL=canvas.myschool.edu
METADATA={\"lang\":\"es\"}
API_CLIENT_ID=1234500000000001234
API_CLIENT_SECRET=your_api_client_secret
