@import '../../../css/udoit4-theme.css';

select {
    font-size: 0.85rem;
    font-weight: 500;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    padding: .4rem 1.5rem .4rem 0.5rem;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    outline: none;
    max-width: 300px;

    &:focus {
      outline: 2px solid var(--link-color);
      outline-offset: 1px;
    }
}

label {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Reddit Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

input[type="checkbox"] {
    cursor: pointer;

    &:hover,
    &:focus {
      outline: 2px solid var(--link-color);
      outline-offset: 3px;
    }
    &:disabled {
      cursor: not-allowed !important;
    }
}

.checkbox {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 2px solid #e1e6f0;
    border-radius: 4px;
    background-color: #fff;
    vertical-align: middle;
    cursor: pointer;
}
  
.checkbox:checked {
    background-color: #2f7dd3;
    border-color: #2f7dd3;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' fill='none' stroke='white' stroke-width='3' stroke-linecap='round' stroke-linejoin='round' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline points='3 9 7 13 13 5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px 12px;

}
  
.checkbox:checked::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.flex-col {
    display: flex;
    flex-direction: column;
}