@layer udoit-component {

  .instructions {
    font-size: .9em;
    color: var(--text-secondary-color);
  }

  .gradient-row {
    margin-block-end: .5rem;
  }

  label {
    font-size: .9em;
    font-weight: 400;
  }

  input[type="range"] {
    width: 8rem;
    background-color: transparent;
    border-radius: 1rem;
    -webkit-appearance: none;

    &:focus {
      outline: 2px solid var(--focus-color);
      outline-offset: 6px;
    }

    &::-webkit-slider-runnable-track {
      background: var(--progress-bar-background-color);
      border: none;
      border-radius: 1rem;
      width: 100%;
      height: 8px;
      cursor: pointer;
    }
    &::-webkit-slider-thumb {
      margin-top: -4px;
      width: 16px;
      height: 16px;
      background: var(--gray);
      box-shadow: 0px 1px 2px var(--shadow-color);
      border-radius: 1rem;
      box-sizing: border-box;
      cursor: pointer;
      -webkit-appearance: none;
    }

    &::-moz-range-track {
      background: var(--progress-bar-background-color);
      border: none;
      border-radius: 1rem;
      width: 100%;
      height: 8px;
      cursor: pointer;
    }
    &::-moz-range-thumb {
      margin-top: -4px;
      width: 16px;
      height: 16px;
      box-sizing: border-box;
      background: var(--gray);
      box-shadow: 0px 1px 2px var(--shadow-color);
      border-radius: 1rem;
      cursor: pointer;
    }
  }

  .ratio-container {
    width: 100%;
    box-sizing: border-box;
    border-radius: var(--element-radius);
    padding: .75rem 1rem;
    margin-block-start: 1rem;
    border: 2px solid var(--border-color);

    &.ratio-valid {
      background-color: var(--pill-success-background);
      border-color: var(--pill-success-border);
      color: var(--pill-success-text);
    }

    &.ratio-invalid {
      background-color: var(--pill-error-background);
      border-color: var(--error-color);
      color: var(--pill-error-text);
    }

    .ratio-label {
      font-size: .85em;
      font-weight: 400;
      text-transform: uppercase;
    }

    .ratio-value {
      font-size: 1.5em;
      font-weight: 600;
      margin: .5rem 0;
    }

    .ratio-status {
      font-size: .85em;
      font-weight: 300;
    }

    .gradient-note {
      font-size: .75em;
      color: var(--text-secondary-color);
      text-align: end;
    }
  }
}