@import '../../../css/udoit4-theme.css';

#file-drop-zone {
  border: 2px dashed var(--gray);
  border-radius: 8px;
  padding: 1rem 2rem;
  text-align: center;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    outline: 2px solid var(--focus-color);
    outline-offset: 1px;
  }

  &:hover {
    border-color: var(--focus-color);
  }

  .file-drop-text {
    width: 100%;
  }
}

  #file-drop-zone-disabled-upload {
    border: 2px dashed var(--gray);
    border-radius: 8px;
    padding: 1rem 2rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    pointer-events: none;
    opacity: 50%;

  .file-drop-text {
    width: 100%;
  }
  }