.attribute-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  background: #fafafa;
  border-bottom: 1px solid #eee;
}

.attribute-label{
  flex-grow: 1;
  margin-left: 8px;
  cursor: pointer;
}

.attribute-header.deactivated {
  background: #fafafa;
  opacity: 0.5;
}

.attribute-label.deactivated {
  text-decoration: line-through;
}


.attribute-id-list {
  background-color: #fafafa;
}

.attribute-id {
  padding: 5px;
  border-bottom: 1px solid #464646;
  display: flex;
  justify-content: space-between;
}

.truncate-inner-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
