@import './TinyMCE.css';

.tag {
  color: var(--white);
  font-size: .8em;
  font-weight: 500;
  text-transform: uppercase;
  padding: .15rem .75rem;
  background-color: var(--link-color);
  cursor: pointer;
  border-radius: 16px;

  &:focus {
    outline: 2px solid var(--focus-color);
    outline-offset: 1px;
  }

  &:hover,
  &:focus {
    background-color: var(--link-color-hover);
  }

  &:active {
    background-color: var(--link-color-hover);
  }
}