{% extends 'base.html.twig' %}

{% block title %} Symfony React Starter {% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"> Symfony React Starter </a>
    </nav>

    <div id="root"></div>


{% endblock %}
