{% extends 'base.html.twig' %}

{% block title %} UDOIT {% endblock %}

{% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
<div id="flash-messages" role="alert"></div>
<div id="root"></div>
{% endblock %}

{% block javascripts %}
<script type="application/json" id="toolSettings">{{ data|json_encode(constant('JSON_PRETTY_PRINT'))|raw }}</script>
<script type="text/javascript" src="{{ asset('build/app.js') }}"></script>
{% endblock %}
