<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- Begin Header -->
<head>
<title>ANT3610 - Page Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="https://reach.ucf.edu/styles/global_v2.css" type="text/css" />
<link rel="stylesheet" href="/webct/RelativeResourceManager/Template/Public%20Files/course.css" type="text/css" />


</head>
<body>
<div id="content">
<div class="header"> 
	ANT3610 - Language and Culture<br />
	Beatriz Reyes-Foster
	<p>&nbsp;</p>
</div>
<!-- End Header -->