<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Begin Header -->
<head>
<title>ANT3610 - Page Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="https://reach.ucf.edu/styles/global_v2.css" type="text/css" />
<link rel="stylesheet" href="/webct/RelativeResourceManager/Template/Public%20Files/course.css" type="text/css" />

</head>
<body>
<div id="content">
<div class="header"> 

  ANT3610 - Language and Culture<br />
 Beatriz Reyes-Foster
  <div class="hr"><hr/></div> 
</div>
<!-- End Header -->

<h1>Page Title</h1>

<p>You are about to view/download a PDF File. If you do not have Adobe Acrobat installed 
on your system, you can download the free Adobe Acrobat Reader at 
<a href="http://www.adobe.com/products/acrobat/readstep2_allversions.html" title="Adobe Acrobat Reader Download">http://www.adobe.com/products/acrobat/alternate.html</a>
The reader is 27.7 MB in size.</p>

<p class="c"><a href="#" class="important" title="download the pdf file">View/Download 
the PDF File</a></p>


<!-- Begin Footer --> 
</div><!-- end #content--> 
</body> 
</html> 
<!-- End Footer -->