<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Begin Header -->
<head>
<title>ANT3610 - Page Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="https://reach.ucf.edu/styles/global_v2.css" type="text/css" />
<link rel="stylesheet" href="/webct/RelativeResourceManager/Template/Public%20Files/course.css" type="text/css" />
	<style type="text/css">
        object{
            height:0;
            width:0;
        }
    </style>
</head>
<body>
<div id="content">

<div class="header"> 

  ANT3610 - Language and Culture<br />
 Beatriz Reyes-Foster
  <div class="hr"><hr/></div> 
</div>
<!-- End Header -->
<h1>Page Title</h1>

<div class="c">
<!--[if !IE]> -->
<object type="application/x-shockwave-flash"
data="http://engage.ucf.edu/v/files/ucfPlayer/ucfPlayer.swf" width="0" height="0">
<!-- <![endif]-->
<!--[if IE]>
<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" 
codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="0" height="0">
    <param name="movie" value="http://engage.ucf.edu/v/files/ucfPlayer/ucfPlayer.swf" />
<!-->
	<!-- <![endif]-->
    <param name="allowscriptaccess" value="always" />
    <param name="allowfullscreen" value="true" />
    <param name="FlashVars" value="URL" />
</object>


<p>If you cannot view the above SWF file, you may not have the latest version of Adobe Flash Player installed on your system. You can download the free Adobe Flash Player <a href="http://get.adobe.com/flashplayer/">here</a>.</p>
</div>

<!-- Begin Footer --> 
</div><!-- end #content--> 
</body> 
</html> 
<!-- End Footer -->