.daily-progress-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .daily-progress {
    width: 100%;
    max-width: 400px;

    .daily-progress-text,
    h3.daily-progress-text {
      color: var(--text-color);
      font-weight: 400;
      font-size: .95rem;
    }
  }
}