@import '../../css/udoit4-theme.css';

.filter-container {
  background-color: var(--background-color);
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  margin-left: -1rem;
  margin-right: -1rem;
  padding: .5rem 1rem;

  .search-group {
    display: block;

    input {
      font-size: 0.85rem;
      font-weight: 400;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
      padding: .4rem 1.75rem .4rem .5rem;
      border: 1px solid var(--border-color);
      border-radius: 8px;
      outline: none;
      width: 300px;
      box-sizing: border-box;

      &:focus {
        outline: 2px solid var(--focus-color);
        outline-offset: 1px;
      }
    }

    .search-icon {
      position: relative;
      left: -1.5rem;
      top: 0.25rem;
      fill: var(--gray);
    }
  }

  .filter-pill {
    padding: .15rem .25rem .15rem .75rem;
    background-color: var(--gray);
    color: var(--white);
    cursor: pointer;
    border-radius: 15px;

    .filter-pill-text {
      font-size: 0.8rem;
      font-weight: 500;
      text-transform: uppercase;
    }

    .filter-pill-remove {
      background: var(--gray-light);
      border-radius: 12px;
      fill: var(--gray);
    }

    &:hover,
    &:focus {
      background-color: var(--gray-light);
      color: var(--gray-dark);

      .filter-pill-remove {
        background: var(--gray);
        fill: var(--white);
      }
    }

  }

  .filter-group {
    select {
      max-width: 250px;
      min-width: 180px;
    }
  }

  label {
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Reddit Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }
}