.ufixit-widget-resolve-container {
  display: flex;
  flex-direction: column;

  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 8px;

  padding: .5rem .5rem;
}