@import '../../css/udoit4-theme.css';

.ufixit-page-divider {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.ufixit-widget-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;

  height: 750px;
  max-height: 1000px;
  width: 500px;
  min-width: 500px;
  max-width: 500px;
  overflow-y: auto;
  overflow-x: hidden;

  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  border-radius: 8px;

  padding: .5rem 1rem;
}

.ufixit-widget-resolve-container {
  display: flex;
  flex-direction: column;

  background-color: var(--white);
  border: 2px solid var(--border-color);
  border-radius: 8px;

  padding: .5rem .5rem;
}

.ufixit-widget-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 1rem;
}

.ufixit-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;

  height: 750px;
  max-height: 1000px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.ufixit-content-label {
  margin-bottom: 1rem;
  flex-shrink: 0;
  flex-grow: 0;

  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: space-between;

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--link-color);
    margin: 0px;
    flex-grow: 1;
  }

  svg {
    margin-left: 1rem;
    cursor: pointer;
    fill: var(--link-color);
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.ufixit-content-preview {
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: auto;
}

.ufixit-content-progress {
  flex-shrink: 0;
  flex-grow: 0;
}
