@import '../../css/udoit4-theme.css';

.ufixit-page-divider {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.ufixit-widget-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-shrink: 0;

  height: 650px;
  max-height: 1000px;
  width: 450px;
  min-width: 450px;
  max-width: 450px;
  overflow-y: auto;
  overflow-x: hidden;

  background-color: var(--background-color);
  border: 2px solid var(--border-color);
  border-radius: 8px;

  padding: 1rem 1rem .5rem 1rem;
}

.ufixit-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;

  height: 650px;
  max-height: 1000px;
  overflow-y: hidden;
  overflow-x: hidden;

  /* This is so the highlighted error outlines don't get cut off */
  padding-left: 5px;
  padding-right: 5px;
  margin-left: -5px;
  margin-right: -5px;
}