@import '../../css/udoit4-theme.css';

.ufixit-content-label {
  flex-shrink: 0;
  flex-grow: 0;

  display: flex;
  flex-direction: row;
  cursor: pointer;
  justify-content: space-between;

  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--link-color);
  }

  &:focus {
    outline: 2px solid var(--focus-color);
    outline-offset: 3px;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--link-color);
    margin: 0px;
    flex-grow: 1;
  }

  svg {
    margin-left: 1rem;
    cursor: pointer;
    fill: var(--link-color);
    flex-shrink: 0;
    flex-grow: 0;
  }
}

.ufixit-content-preview {
  flex-grow: 1;
  overflow-x: auto;
  overflow-y: auto;
  margin: 0 0 1rem 0;
  padding: 1rem;
  position: relative;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.ufixit-error-highlight {
  outline: 3px dashed var(--issue-color);
  outline-offset: 1px;
  anchor-name: --ufixit-error-highlight;

  /* Errors without text won't have an outline unless they have a border to provide size */
  &:not(table) {
    border: 1px solid transparent;
  }
}

.scroll-to-error-container {
  position: sticky;
  display: flex;
  justify-content: right;
  margin-right: 0.5rem;
}

.scroll-to-error {
  background-color: var(--primary-color-light);
  border-radius: 100%;
  padding: 0.35rem;
  cursor: pointer;
  position: fixed;
  border: 2px solid var(--primary-color);
  height: 24px;
  width: 24px;
  opacity: 0.5;
  transition: all var(--transition-time);

  &:hover {
    opacity: 1;
  }

  &:focus,
  &:active {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color-light);
  }
}

.scroll-to-error-down {
  top: 78%;
}

.scroll-to-error-up {
  top: auto;
}

.ufixit-alt-text-preview {

  background-color: var(--gray-dark);
  color: var(--white);
  border-radius: 22px;
  font-size: 0.85rem;
  width: fit-content;

  display: flex;
  flex-direction: row;
  border: 2px solid var(--gray-dark);
  margin: 5px 0px;
  
  .ufixit-alt-text-preview-icon {
    padding: 8px;
    line-height: 0px;
    fill: var(--white);
  }

  .ufixit-alt-text-preview-text {
    display: flex;
    flex-direction: column;
    justify-content:center;
    font-weight: 500;
    padding: .5rem 1rem .5rem .25rem;
    max-width: 300px;
    transition: max-height 0.15s, max-width var(--transition-time), padding var(--transition-time);
    overflow: auto;
  }
}

.ufixit-file-details {
  margin: 2rem 2rem 3rem 2rem;

  .ufixit-file-details-label {
    font-weight: bold;
    margin-right: 1rem;
    text-align: right;
    width: 30%;
    flex-shrink: 0;
  }
}

.ufixit-heading-highlight {
  margin-left: 20px;

  &.ufixit-error-highlight {
    margin-left: 19px;  /* To offset the required 1px border */
  }
  
  &::before {
    content: attr(ufixit-heading-type);
    font-size: .85rem;
    background-color: var(--gray-dark);
    color: #fff;
    position: absolute;
    padding: 4px;
    border-radius: 4px;
    margin-left: -30px;
    width: 20px;
    text-align: center;
    border: 1px solid var(--white)
  }
}