@import '../../css/udoit4-theme.css';

.ufixit-list-container {
  height: 650px;

  .ufixit-list-scrollable {
    overflow-y: auto;
    min-height: 0;
    
    /* The top padding is in the parent so the stick header doesn't look goofy. */
    padding: 0 1rem 1rem 1rem;

    .ufixit-list-section-container {
      margin-bottom: .75rem;
      border-radius: .8rem;
      border: 1px solid var(--border-color);

      &.open {
        border: none;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .ufixit-list-section-container {
      margin-bottom: .75rem;
      border-radius: .8rem;
      border: 1px solid var(--border-color);
    }

    .ufixit-list-heading {
      position: sticky;
      top: 0;
      background-color: transparent;
      padding: 1rem;
      cursor: pointer;
      border-radius: .8rem .8rem .8rem .8rem;
      transition: border-radius var(--transition-time) ease-in-out;
      
      h3 {
        color: var(--primary-color);
        margin: 0;
        font-weight: 700;
      }

      .ufixit-list-heading-count {
        display: flex;
        flex-direction: column;
        justify-content: end;
        font-size: 1rem;
        font-weight: 600;
        color: var(--text-color);
        text-transform: uppercase;
      }

      .expand-icon {
        transition: transform var(--transition-time) ease-in-out;
        border-radius: 2rem;

        &:hover {
          background-color: var(--white);
        }
      }

      &.open {
        background-color: var(--background-color);
        border-radius: .8rem .8rem 0 0;
        border-bottom: none;
      }
      
      &:hover, &:focus {
        background-color: var(--link-color-light);
      }

      &:focus {
        outline: 2px solid var(--focus-color);
        outline-offset: -2px;
      }
    }
    
  .ufixit-list-items-container {
    transition: max-height var(--transition-time) ease-in-out;
    max-height: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--background-color);
    border-radius: 0 0 .8rem .8rem;

    &.open {
      max-height: 360px; /* Adjust as needed */
    } 
  }

    .ufixit-list-item {
      cursor: pointer;
      padding: 1rem 1.5rem;
      border: 1px solid var(--border-color);
      border-radius: 8px;
      font-weight: 600;
      fill: var(--gray);
      font-size: 1rem;
      margin: 0.5rem 1rem;
      background-color: var(--white);
      
      .data-pill.fixed {
        color: var(--primary-color);
        border-color: var(--primary-color);
      }

      /* &:nth-child(even) {
        background-color: var(--background-color);
      } */

      /* &:last-child {
        border-bottom: none;
      } */
    
      &:hover, &:focus {
        background-color: var(--link-color-light);
        color: var(--link-color);
        fill: var(--link-color);

        .list-item-title {
          text-decoration: underline;
        }

        .data-pill {
          background-color: var(--white);
          padding: 0.05rem 0.5rem;

          .data-pill-text {
            max-width: 200px;
            margin-left: 0.5rem;
          }
        }
      }

      &:focus {
        outline: 2px solid var(--focus-color);
        outline-offset: -2px;
      }
    }
  }  
}