.ufixit-widget-resolve-container {
  display: flex;
  flex-direction: column;

  background-color: var(--white);
  border: 1px solid var(--border-color);
  border-radius: 8px;

  padding: .5rem .5rem;

  .ufixit-widget-resolve-description {
    font-size: .9rem;
    font-weight: 400;
    font-style: italic;
  }
}