@layer udoit-component {
    
  .ufixit-nav-container {
    background-color: var(--background-color);
    padding: .5rem 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }

  .dialog-content-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
  }

  .ufixit-widget-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;

    box-sizing:border-box;
    width: 50%;
    min-width: 25em;
    max-width: 50em;
    overflow-x: hidden;
    max-height: 100%;
    overflow-y: hidden;
  }

  .ufixit-content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;

    box-sizing: border-box;
    width: 50%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;

    background-color: var(--background-color);
    border-inline-start: 1px solid var(--border-color);
    margin-inline-start: -1px;
    border-block-start: 1px solid var(--border-color);
    margin-block-start: -1px;
    padding: 1.25rem 1.5rem;
  }
}