.ufixit-widget-resolve-container {
  display: flex;
  flex-direction: column;

  background-color: var(--white);
  border: 3px solid var(--primary-color);
  border-radius: 8px;

  padding: .5rem 1rem;

  .ufixit-widget-resolve-description {
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    color: var(--primary-color);
  }
}