header {

  margin: 0 -1rem;
  padding: 0 1rem;
  border-bottom: 1px solid var(--border-color);

  nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;

    img {
      width: 15%;
      min-width: 80px;
      height: auto;
    }

    ul {
      display: flex;
      flex-wrap: nowrap;
      list-style-type: none;
      margin: 0px;
      margin-left: auto;
      padding: 0px;
      gap: 3px;

      li {
        color: var(--gray-dark);
        fill: var(--gray-dark);
        text-align: center;
        white-space: nowrap;
        padding: .25rem .75rem;
        margin: .75rem .125rem;
        text-decoration: none;
        cursor: pointer;
        font-size: .8em;
        font-weight: 400;
        border-radius: 8px;

        /* .icon-container {
          display: none !important;
        } */

        &:hover,
        &.active-link {
          color: var(--black);
          fill: var(--black);
          background-color: var(--gray-lighter);
        }

        &:focus {
          outline: 2px solid var(--focus-color);
          outline-offset: 0px;
        }

        &.disabled:not(.active-link) {
          color: var(--gray);
          fill: var(--gray);
          pointer-events: none;
          cursor: not-allowed !important;
        }
      }
    }
  }
}