header nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;

  img {
    width: 15%;
    min-width: 100px;
    height: auto;
  }

  ul {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    margin: 0px;
    margin-left: auto;
    padding: 0px;
    gap: 3px;

    li {
      font-weight: bold;
      text-transform: uppercase;
      color: var(--text-color);
      fill: var(--text-color);
      border-top-width: 3px;
      border-top-color: transparent;
      border-top-style: solid;
      text-align: center;
      white-space: nowrap;
      padding: calc(.75rem - 3px) .75rem .75rem .75rem;
      text-decoration: none;
      cursor: pointer;

      &:hover,
      &.active-link {
        color: var(--link-color);
        fill: var(--link-color);
        border-top-color: var(--link-color);
      }

      &:focus {
        outline: 2px solid var(--focus-color);
        outline-offset: -2px;
      }

      &.disabled:not(.active-link) {
        color: var(--gray);
        fill: var(--gray);
        pointer-events: none;
        cursor: not-allowed !important;
        border-top-color: transparent;
      }
    }
  }
}