@layer udoit-component {

  .report-page-container {
    margin: 0 -1rem -1rem -1rem;
    padding: 0 1rem 1rem 1rem;
  }

  .data-table-container {
    margin-block-start: 1.5rem;
    border-block-start: 1px solid var(--border-color);
    padding-block-start: 1.5rem;
  }

  .graph-container {
    width: 100%;
    height: auto;
  }

  #resolutionsChart {
    max-width: 100%;
    min-height: 400px;
  }

  .print-area * {
    display: none;
    visibility: hidden;
  }

  @media print {
    @page {
      size: landscape;
      font-size: 12px;
    }

    .print-area {
      display: block;
    }

    body * {
      visibility: hidden;
    }

    .print-area, .print-area * {
      visibility: visible;
    }
  }
}