@import '../../css/udoit4-theme.css';

.print-area * {
        display: none;
        visibility: hidden;
    }

@media print {
    .print-area {
        display: block;
    }
  
    body * {
        visibility: hidden;
    }
  
    .print-area, .print-area * {
        visibility: visible;
    }
}