.udoit-sortable-table {
  tr {

    .fileTypeIconBackground {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: .38rem .38rem;
      background: var(--gray-lighter);
      border-radius: 8px;

      svg {
        fill: transparent;
        stroke: var(--text-color);
        stroke-width: 1.5px;
      }
    }

    .fileName {
      font-size: 1.25em;
      font-weight: 500;
      max-width: 30em;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .table-pill {
      background-color: var(--gray-lighter);
      inline-size: fit-content;
      padding: .05rem .5rem 0;
      border-radius: var(--element-radius);
      text-transform: uppercase;
      font-size: .8em;
      font-weight: 400;
    }

    &.clickable:hover,
    &.clickable:focus {
      .fileTypeIconBackground,
      .table-pill {
        background-color: var(--white);
      }
    }

    .table-status-container {
      display: flex;
      flex-direction: row;
      width: fit-content;
      border: 1px solid var(--border-color);
      line-height: 1;
      padding: .25rem .5rem;
      border-radius: var(--element-radius);
      background-color: var(--primary-color-light);
      color: var(--primary-color);
      fill: var(--primary-color);

      &.unreviewed {
        background-color: var(--potential-color-light);
        color: var(--potential-color);
        fill: var(--potential-color);
        /* border-color: var(--potential-color); */
      }
      
      div {
        margin-top: .1em;
      }
    }
  }
}

.preview-window{
  background-color: var(--gray-lighter);
  height: 100%;
}