select {
  min-width: 180px;
}

.logo-large {
  margin: 0 auto 2rem;
  padding: 0 1rem 1rem 1rem;
  max-width: 300px;
  width: 75%;
  min-width: 200px;
}

.settings-page-container {
  margin: 0 -1rem -1rem -1rem;
  padding: 0 1rem;

  .settings-row {
    margin-bottom: -1rem;
  }
}

.about-container {
  overflow-y: auto;

  .about-content {
    max-width: 600px;
    margin: 0 auto;
  }
}

h2 {
  margin: 0;
}

a {
  color: var(--link-color);
  font-weight: 600;

  &:focus {
    outline: 2px solid var(--focus-color);
    outline-offset: 3px;
    border-radius: 2px;
  }
}

.settings-container {
  min-width: 400px;

  select {
    width: 100%;
    min-width: unset;
  }

  input {
    align-self: start;
  }

  > div {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1rem;

    > label {
      width: calc(40% - .5em);
      text-align: right;
      font-weight: 600;
      color: var(--text-color);
      text-transform: uppercase;
      font-weight: 600;
    }

    > div {
      width: calc(60% - .5em);
      flex-grow: 0;
      flex-shrink: 0;
    }
  }

  .combo-menu {
    top: calc(2.2em + 2px);
    right: 0;
    left: unset;
  }

  .combo-interactive-container {
    width: calc(60% - .5em);
  }

  .combo-menu {
    width: inherit;
  }
}