.ufixit-form-container {
  position: relative;
}

.ufixit-form-content {
  > :first-child {
    margin-top: 0;
  }
}

.ufixit-learn-container {
  a {
    color: var(--link-color);
    font-weight: 500;
  }

  > :first-child {
    margin-top: 0;
  }
}

.ufixit-widget-toggle-view-container {
  width: 100%;
  padding: .2rem 0px;
  cursor: pointer;

  color: var(--primary-color-dark);
  fill: var(--primary-color-dark);
  font-weight: 500;

  background-color: var(--primary-color-light);
  border-top: 2px solid var(--primary-color-dark);
  border-bottom: 1px solid var(--primary-color-dark);

  .ufixit-widget-toggle-view-container-link {
    border-radius: 4px;
    &:focus {
      outline: 2px solid var(--link-color);
      outline-offset: 2px;
    }
  }
}

.ufixit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: transparent;
  z-index: 1000;

  .ufixit-overlay-content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
    padding: 1rem;
    background-color: var(--primary-color-light);
    border: 1px solid var(--primary-color-dark);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
  }
}