.ufixit-double-container {
  width: calc(200% + 2rem);
  gap: 2rem;
  transition: var(--transition-time) ease-in-out margin-left;
  margin-left: -5px;
  padding-left: 5px;
  overflow-y: auto;
  box-sizing: content-box;

  &.ufixit-shift-view {
    margin-left: calc(-100% - 2rem - 5px);
  }
}

.clarification-container {
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: .5rem;
  background-color: var(--white);

  .clarification-text {
    font-weight: 400;
    font-style: italic;
    font-size: .9rem;
  }
}

.ufixit-form-container {
  position: relative;
  overflow-y: auto;
  width: calc(50% - 1rem);
  margin-right: -5px;
  padding-right: 5px;
  margin-left: -5px;
  padding-left: 5px;
  box-sizing: content-box;
}

.ufixit-form-content {
  > :first-child {
    margin-top: 0;
  }

  label {
    font-weight: 600;
    color: var(--text-color);
  }

  input[type="text"] {
    padding: 0.25rem;
    box-sizing: border-box;
    font-size: 0.95rem;
    font-family: 'Open Sans', sans-serif;
    border: 2px solid var(--border-color);
    border-radius: 4px;

    &:hover,
    &:focus {
      outline: 2px solid var(--focus-color);
      outline-offset: -2px;
      
    }

    &:disabled {
      background-color: var(--gray-light);
      color: var(--gray);
      border-color: var(--gray-light);
      cursor: not-allowed !important;
    }
    &:disabled:hover,
    &:disabled:focus {
      outline-color: var(--gray-light);
    }
  }

  .error-text {
    font-size: .95rem;
    font-weight: 500;
    font-style: italic;
    color: var(--issue-color);
  }

  .text-muted {
    font-size: .85rem;
    font-weight: 400;
    color: var(--gray-dark);
  }

  .btn-icon-only.btn-transparent {
    padding: .15rem .25rem;
    fill: var(--link-color);
    background-color: transparent;
    border-color: transparent;

    &:hover,
    &:focus,
    &.active {
      background-color: var(--link-color);
      fill: var(--white);
    }

    &:focus {
      outline: 2px solid var(--focus-color);
      outline-offset: 1px;
    }
  }

  /* Specific to the ContrastForm Widget... Could be its own CSS file */
  .ratio-container {
    padding: .25rem .5rem;
    border: 2px solid var(--issue-color);

    &.ratio-valid {
      border-color: var(--primary-color);
    }

    .ratio-label {
      text-transform: uppercase;
      font-size: .85rem;
      font-weight: 600;
    }

    .ratio-value {
      font-size: 1.25rem;
      font-weight: 600;
    }

    .ratio-status {
      font-size: .85rem;
      font-weight: 600;
      text-transform: uppercase;

      &.invalid {
        color: var(--issue-color);
      }

      &.valid {
        color: var(--primary-color-dark);
      }
    }
  }
}

.ufixit-learn-container {
  overflow-y: auto;
  width: calc(50% - 1rem);

  a {
    color: var(--link-color);
    font-weight: 600;

    &:focus {
      outline: 2px solid var(--focus-color);
      outline-offset: 3px;
      border-radius: 2px;
    }
  }

  code {
    padding: 0.15rem 0.4rem;
    background-color: var(--gray-dark);
    color: var(--white);
    border-radius: 4px;
    font-size: 0.9rem;
  }

  > :first-child {
    margin-top: 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    caption {
      font-weight: bold;
      margin-bottom: .5rem;
    }

    thead tr {
      background-color: var(--gray-dark);
      color: var(--white);

      th {
        padding: .25rem .5rem;
      }
    }

    tbody tr {
      color: var(--text-color);

      &:nth-child(odd) {
        background-color: var(--white);
      }

      td {
        padding: .25rem;
        border-bottom: 1px solid var(--border-color);
      }
    }


  }
}

.ufixit-widget-toggle-view-container {
  width: 100%;
  padding: .2rem 0px;
  cursor: pointer;

  color: var(--primary-color-dark);
  fill: var(--primary-color-dark);
  font-weight: 500;

  background-color: var(--primary-color-light);
  border-top: 2px solid var(--primary-color-dark);
  border-bottom: 1px solid var(--primary-color-dark);

  .ufixit-widget-toggle-view-container-link {
    border-radius: 4px;
    &:focus {
      outline: 2px solid var(--focus-color);
      outline-offset: 2px;
    }
  }
}

.ufixit-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background-color: transparent;
  z-index: 1000;
  padding: 0 5px;
  box-sizing: border-box;

  .ufixit-overlay-content-container {
    width: 100%;
    box-sizing: border-box;
    max-width: 600px;
    padding: 1rem;
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
  }
}