.welcome-content-wrapper {
  max-width: 800px;
  align-self: center;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: row;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 1.5rem 1rem;
  }
}

.welcome-content {
  width: 50%;

  @media screen and (max-width: 768px) {
    width: 100%;
    max-width: 500px;
  }
}

.logo-large {
  width: 75%;
  min-width: 250px;
  margin-bottom: 1.25rem;

  @media screen and (max-width: 768px) {
    align-self: center;
    max-width: 325px;
  }
}

.invisible-spacer {
  padding-bottom: 4rem;
}

.welcome-footer {
  padding-top: 4rem;
}

.tagline {
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  color: var(--text-color);
  text-decoration: none;
}

.logo-small {
  width: 80px;
  height: auto;
  opacity: 0.8;
  margin-top: 1px;

  &:hover {
    opacity: 1;
  }
}