.messagesTray {
  background-color: white;
  position: sticky;
  top: 5px;
  /*
   * This number matches the stacking-topmost theme for z-index
   * which allows for the menu dropdown to render over the messagesTray
   */
  z-index: 9999;
}

body {
  overflow-y: scroll;
}
