body { padding: 20px 0 0; }

.container { width: auto; }

.logo {
	background: url('https://lti.online.ucf.edu/udoit/assets/img/udoit_logo.png') no-repeat center;
	background-size: 228px 80px;
	color: transparent;
	display: inline-block;
	font-weight: bold;
	height: 80px;
	margin: 0;
	padding: 0;
	width: 228px;
}

h2 {
	margin-top: 0;

	color: #332312;
}

h3 { margin: 0;}

h3 a { color: inherit; }

.plus {
	max-width: 80%;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	 -o-text-overflow: ellipsis;
		text-overflow: ellipsis;
	white-space: nowrap;
}

.content-title {
	border-bottom: 1px solid #dddddd;
	margin-bottom: 10px;
	padding: 5px 0;
}

h5 {
	font-size: 1em;
	margin: 0;
	padding: 0;
}

#mainHeader, #contentWrapper {
	background: #ffffff;
	border: 1px solid #c1c7cf;
	border-radius: 4px;
	box-shadow: 0 2px 1px rgba(0,0,0,0.1);
	margin-bottom: 20px;
	padding: 20px;
}

#contentWrapper {
	border-top: 0;
	border-radius: 0 0 4px 4px;
}

.table caption {
	border-bottom: 2px solid #ddd;
	font-weight: bold;
	padding: 8px;
}

.table-bordered caption { border: 1px solid #ddd; }

#resultsTable tbody tr:hover { cursor: pointer; }

#loginForm {
	margin: 80px auto;
	padding: 20px;
	width: 400px;
	border: 3px rgba(51,35,18,0.4) solid;
	border-radius: 5px;
}

#bodyWrapper a { color: #332312; }

.folder {
	display: block;
	margin-left: 40px;
}

#folderChooser {
	overflow: auto;
	display: inline-block;
}

.fade {
	opacity: 0.2;
	-moz-opacity: 0.2;
	filter:alpha(opacity=2);
}

.center { text-align: center; }

.single { width: 35px; }

.double { width: 45px; }

.errorCount, .warningCount, .suggestionCount { padding: 0 0 0 0; font-weight: bold; font-size: 1.1em; }

.errorCount { background: url('../img/error.png') right center no-repeat; }

.warningCount { background: url('../img/warning.png') right center no-repeat; }

.suggestionCount { background: url('../img/suggestion.png') right center no-repeat; }

.error, .warning, .suggestion {
	font-weight: bold;
	line-height: 22px;
	margin: 0;
}

.error { color: #a94442; }

.warning { color: #8a6d3b; }

.suggestion { color: #31708f; }

#course_wrapper {display: none; }

.nobullet li { list-style: none; margin:0; padding: 0;}

#result { display: none; }

.errorSummary { display: none; }

#errorWrapper .errorItem:last-child { margin-bottom: 0; }

#errorWrapper .errorSummary .panel:last-child { margin-bottom: 0; }

ul.li_border li {
	border-bottom: 1px solid black;
	padding: 10px;	
}

.delete_li { float: right; }

/*h5 { display: inline-block; }*/

h5 + ul {
	display: inline-block;
	margin: 0 0 0 19px;
	padding: 0;
}

/* Loader */
#popup {
	display: inline-block;
	color: #ffffff;
	overflow: hidden;
	vertical-align: top;
}

#loginForm p {
	clear:both;
	padding: 5px 0 0 30px;
}

#loginForm label{
	float: left;
	width: 90px;
	margin-top: 10px;
}

#loginForm input[type=text], #loginForm input[type=password]{
	float: left;
	width: 200px;
	font-size: 1.5em;
}

#loginSubmit {
	overflow: auto;
	margin: 0;
}

#loginSubmit input {
	float: right;
}

#tooMany { padding: 10px; }

#tooMany p { text-align: center; }

#tooMany button {
	font-size: 1em;
	margin-right: 10px;
	padding: 5px;
}

.error-preview {
	position: relative;

	padding: 26.5px 9.5px 9.5px;
	margin: 0 0 10px;

	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.error-preview:before {
	content: "Preview";

	position: absolute;
	top: 0;
	left: 0;

	padding: 2px 6px;

	color: #fff;
	font-size: 11px;
	font-weight: bold;

	background: rgba(0,0,0,0.3);
	border-radius: 3px 0 3px 0;
}

.error-source {
	position: relative;

	padding-top: 26.5px;
}

.error-source:before {
	content: "Source";

	position: absolute;
	top: 0;
	left: 0;

	padding: 2px 6px;

	color: #fff;
	font-size: 11px;
	font-weight: bold;

	background: rgba(0,0,0,0.3);
	border-radius: 3px 0 3px 0;
}

/* Circle Stuff */
.circle {
	background-color: rgba(0,0,0,0);
	border: 4px solid #ffffff;
	border-right: 4px solid rgba(0,0,0,0);
	border-left: 4px solid rgba(0,0,0,0);
	border-radius: 50px;
	width: 20px;
	height: 20px;
	margin: 0 auto;
	-moz-animation: spinPulse 1s infinite ease-in-out;
	-webkit-animation: spinPulse 1s infinite linear;
}
@-moz-keyframes spinPulse {
	0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #FFF7EA;}
	50% { -moz-transform:rotate(145deg); opacity:1; }
	100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinPulse {
	0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #FFF7EA; }
	50% { -webkit-transform:rotate(145deg); opacity:1;}
	100% { -webkit-transform:rotate(-320deg); opacity:0; }
}

/* X. TABS ---------------------------- */

.nav-tabs.nav-justified > .active > a {
	border-color: #c1c7cf;
	border-bottom-color: transparent;
}

.nav-tabs.nav-justified > li > a { border-bottom-color: #c1c7cf; }

/* X. FORMS --------------------------- */

.fix-alt { position: relative; }

.counter {
	color: #8F8F8F;
	position: absolute;
	right: 79px;
	top: 7px;
	z-index: 9999;
}

/* X. PANELS -------------------------- */

.panel-title {
	line-height: 22px;
	margin-left: 6px;
}

.panel-danger .list-group-item { border-color: #ebccd1; }

.panel-info .list-group-item { border-color: #bce8f1; }

.panel-warning .list-group-item { border-color: #faebcc; }

/* X. HELPERS (should go after everything else) -- */

/* for lazy little developers~ */
.no-margin { margin: 0px !important; }
.margin-top { margin-top: 20px !important; }
.margin-right { margin-right: 20px !important; }
.margin-bottom { margin-bottom: 20px !important; }
.margin-left { margin-left: 20px !important; }
.margin-top-small { margin-top: 10px !important; }
.margin-right-small { margin-right: 10px !important; }
.margin-bottom-small { margin-bottom: 10px !important; }
.margin-left-small { margin-left: 10px !important; }
.position-relative { position: relative !important; }

.btn-success.disabled,
.btn-success[disabled],
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
.btn-success.disabled.active,
.btn-success[disabled].active {
	background: #5cb85c;
	opacity: 1;
}
