#header {display: none;}
#chooserWrapper { display: none;} 
#logout { display: none;}
#print {display: none;}
h3 + ul { display: none;}
.errorSummary {	margin-left: 35px; }
.list {	margin-left: 20px; }