#captionsLoadingOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  box-sizing: border-box;
}

.progress-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 36em;
  max-width: 100%;
  margin: auto;

  .progress-bar-container {
    .progress-bar-fill {
      background-color: var(--progress-bar-color);
    }
  }

  span {
    color: var(--text-secondary-color);
    font-size: smaller;
    font-weight: 300;
  }
}

#media-captions-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  container-type: inline-size;
  container-name: captions-editor;

  #captions-editor-info-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: .5rem;
    align-items: center;
    padding: .5rem 1.5rem;
    border-bottom: 1px solid var(--border-color);
  }

  #captions-editor-main-row {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-height: 0px;
    box-sizing: border-box;
    justify-content: center;

    @container captions-editor (width < 1000px) {
      flex-direction: column-reverse;
      overflow: auto;
      flex-shrink: 0;

      #table-focus-layer {
        width: 100% !important;
        flex-shrink: 0;
        flex-grow: 1;
      }

      #video-focus-layer {
        width: 100% !important;
        flex-shrink: 0;
        border-left: none !important;
        border-block-end: 1px solid var(--border-color) !important;
      }

      #resize-button {
        display: none;
      }
    }

    &.full-width-video {
      flex-direction: column-reverse;
      overflow: auto;
      flex-shrink: 0;

      #table-focus-layer {
        width: 100% !important;
        flex-shrink: 0;
        flex-grow: 1;
      }

      #video-focus-layer {
        width: 100% !important;
        flex-shrink: 0;
        border-left: none !important;
        border-block-end: 1px solid var(--border-color) !important;
      }
    }

    #table-focus-layer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      max-height: 100%;
      overflow: auto;
      width: 60%;
      padding: 1em 1.5em 0 1.5em;
      box-sizing: border-box;

      #captions-list-inputs {
        flex-grow: 1;
        flex-shrink: 1;
        height: 20em;
        overflow: auto;
        margin-inline-end: -1.5em;
        padding-inline-end: 1.5em;
        margin-block-start: -.5em;
        padding-block-start: .5em;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .insert-button-container {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &::before,
        &::after {
          content: "";
          flex: 1;
          border-bottom: 1px solid var(--border-color);
          margin: auto;
        }

        button {
          margin-left: 1.5rem;
          margin-right: 1.5rem;
        }

        .btn-icon-only {
          padding: .4rem;
          border-radius: 100%;
        }
      }

      .cue-row {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;
        margin-bottom: 0.5rem;
        border: 1px solid transparent;
        padding: 0 var(--element-radius);
        box-sizing: border-box;

        .btn-icon-only {
          padding: .25rem;
          fill: var(--text-disabled-color);

          &:hover,
          &:focus {
            fill: var(--link-color);
          }
        }

        &.active {
          /* background-color: var(--selection-color-background);
          border-color: var(--selection-color-border); */
          border: 1px solid var(--border-color);
          padding: var(--element-radius);
          border-radius: var(--element-radius);
          background-color: var(--background-color);

          .btn-icon-only {
            fill: var(--link-color);
          }
        }

        input {
          border-radius: calc(var(--element-radius) * .5);
        }
      }
    }

    #video-focus-layer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 40%;
      box-sizing: border-box;
      border-left: 1px solid var(--border-color);
      background-color: var(--background-color);
      padding: 1rem 1.5rem;

      #video-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        flex: 1 1 auto;
        min-height: 0px;
        max-height: max-content;
        
        video {
          background: #000;
          border-radius: calc(var(--element-radius) * .5);
          overflow: hidden;
          aspect-ratio: 16 / 9;
          width: 100%;
          border: 1px solid var(--border-color);
          box-sizing: border-box;
        }
      }

      #video-controls-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;
        align-items: center;
      }

      .btn-icon-only {
        padding: .25em;
        border-radius: 100%;
      }

      .btn-play {
        border-radius: 100%;
        display: flex;
        align-items: center;
        padding: .75em;
      }
    }
  }

  #waveform-container {
    border-top: 1px solid var(--border-color);
    padding: 1rem 1.5rem;
    background-color: var(--white);

    #waveform {
      border: 1px solid var(--border-color);
      border-radius: var(--element-radius);
      background-color: var(--background-color);
      box-sizing: border-box;

      &.layer-wave:focus {
        outline: 2px solid var(--focus-color);
        outline-offset: 2px;
      }

      ::part(scroll) {
        border-radius: var(--element-radius);
      }

      /* The background for the waveform player */
      ::part(wrapper) {
        background: var(--background-color);
      }

      ::part(timeline-notch-primary),
      ::part(timeline-notch-secondary) {
        color: var(--text-secondary-color);
        opacity: 1;
      }

      ::part(timeline-notch-tick) {
        border-color: var(--border-color);
        opacity: 1;
      }

      ::part(region) {
        outline-color: var(--focus-color);
        background: var(--background-color-transparent);
      }

      ::part(region region-focus) {
        outline: 2px solid var(--focus-color);
        outline-offset: -2px;
      }

      ::part(region highlight-start) {
        box-shadow: -3px 0 0 3px var(--focus-color);
      }

      ::part(region highlight-pan) {
        box-shadow: inset 0 0 0 3px var(--focus-color);
      }

      ::part(region highlight-end) {
        /* border-right: 4px solid var(--focus-color); */
        box-shadow: 3px 0 0 3px var(--focus-color);
      }

      ::part(region-content) {
        position: absolute;
        top: 0;
        margin-top: 0px;
        padding: .25em .5em;
      }

      ::part(cursor) {
        background-color: var(--link-color);
        width: 2px;
      }
    }
  }
}

@media screen and (width > 50em) {
  .cue-row .slider-select {
    background-color: var(--white);
  }
}