#captionsLoadingOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  box-sizing: border-box;
  z-index: 5;

  .callout-container {
    width: 40em;
    max-width: 100%;
  }
}

.progress-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;

  .progress-bar-container {
    .progress-bar-fill {
      background-color: var(--progress-bar-color);
    }
  }

  .progress-bar-text {
    font-variant-numeric: tabular-nums;
  }

  span {
    color: var(--text-secondary-color);
    font-size: smaller;
    font-weight: 300;
  }
}

#media-captions-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
  container-type: inline-size;
  container-name: captions-editor;

  &.editor-loading {
    height: 0;
    overflow: hidden;
  }

  #captions-editor-info-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-between;
    gap: .5rem;
    align-items: center;
    padding: .5rem 1.5rem;
    border-bottom: 1px solid var(--border-color);
  }

  #captions-editor-main-row {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-height: 0px;
    box-sizing: border-box;
    justify-content: center;

    @container captions-editor (width < 1000px) {
      flex-direction: column-reverse;
      overflow: auto;
      flex-shrink: 0;

      #table-focus-layer {
        width: 100% !important;
        flex-shrink: 0;
        flex-grow: 1;
      }

      #video-focus-layer {
        width: 100% !important;
        flex-shrink: 0;
        border-left: none !important;
        border-block-end: 1px solid var(--border-color) !important;
      }

      #resize-button {
        display: none;
      }
    }

    &.full-width-video {
      flex-direction: column-reverse;
      overflow: auto;
      flex-shrink: 0;

      #table-focus-layer {
        width: 100% !important;
        flex-shrink: 0;
        flex-grow: 1;
      }

      #video-focus-layer {
        width: 100% !important;
        flex-shrink: 0;
        border-left: none !important;
        border-block-end: 1px solid var(--border-color) !important;
      }
    }

    #table-focus-layer {
      display: flex;
      flex-direction: column;
      gap: .5rem;
      max-height: 100%;
      overflow: auto;
      width: 60%;
      padding: 1em 1.5em 0 1.5em;
      box-sizing: border-box;

      #track-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: .5rem;
        border-bottom: 1px solid var(--border-color);
        gap: .75rem;
      }

      #captions-list-inputs {
        flex-grow: 1;
        flex-shrink: 1;
        height: 20em;
        overflow: auto;
        margin-inline-end: -1.5em;
        padding-inline-end: 1.5em;
        margin-block-start: -.5em;
        padding-block-start: .5em;

        ul {
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            position: relative;
          
            .cue-row {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: .5rem;
              margin: 0;
              padding: calc(var(--element-radius)*.5) var(--element-radius);
              border: 1px solid transparent;
              box-sizing: border-box;

              input {
                border-radius: calc(var(--element-radius) * .5);
              }

              .btn-icon-only {
                padding: .25rem;
                fill: var(--text-disabled-color);

                &:hover,
                &:focus {
                  fill: var(--link-color);
                }
              }
            }

            &.active {
              
              .cue-row {
                border-radius: var(--element-radius); 
                padding: calc(var(--element-radius)*.5) var(--element-radius);
                border-color: var(--border-color);
                background-color: var(--background-color);

                .btn-icon-only {
                  fill: var(--link-color);

                  &:disabled {
                    background-color: var(--gray-light);
                  }
                }
              }
            }

            &:first-child {
              .cue-row {
                margin-block-start: var(--element-radius);
              }
            }

            &:last-child {
              .cue-row {
                margin-block-end: var(--element-radius);
              }
            }
          }
        }
      }

      .callout-container {
        h2 {
          margin-top: 0;
          margin-bottom: 1em;
        }

        p {
          margin-top: 0;
        }
      }
    }

    #video-focus-layer {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 40%;
      box-sizing: border-box;
      border-left: 1px solid var(--border-color);
      background-color: var(--background-color);
      padding: 1rem 1.5rem;

      #video-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        flex: 1 1 auto;
        min-height: 0px;
        max-height: max-content;
        
        video {
          background: #000;
          border-radius: calc(var(--element-radius) * .5);
          overflow: hidden;
          aspect-ratio: 16 / 9;
          width: 100%;
          border: 1px solid var(--border-color);
          box-sizing: border-box;
        }
      }

      #video-controls-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1em;
        flex-wrap: wrap;
        align-items: center;
      }

      .btn-icon-only {
        padding: .25em;
        border-radius: 100%;
      }

      .btn-play {
        border-radius: 100%;
        display: flex;
        align-items: center;
        padding: .75em;
      }
    }
  }

  #waveform-container {
    border-top: 1px solid var(--border-color);
    padding: 1rem 1.5rem;
    background-color: var(--white);

    #waveform {
      border: 1px solid var(--border-color);
      border-radius: var(--element-radius);
      background-color: var(--background-color);
      box-sizing: border-box;

      &:focus-visible {
        outline: none;
      }

      &.layer-wave:focus {
        outline: 2px solid var(--focus-color);
        outline-offset: 2px;
      }

      ::part(scroll) {
        border-radius: var(--element-radius);
      }

      /* The background for the waveform player */
      ::part(wrapper) {
        background: var(--background-color);
      }

      ::part(timeline-notch-primary),
      ::part(timeline-notch-secondary) {
        color: var(--text-secondary-color);
        opacity: 1;
      }

      ::part(timeline-notch-tick) {
        border-color: var(--border-color);
        opacity: 1;
      }

      ::part(region) {
        outline-color: var(--focus-color);
        background: var(--background-color-transparent);
      }

      ::part(region highlight-start) {
        box-shadow: -3px 0 0 3px var(--focus-color);
        z-index: 9;
      }

      ::part(region highlight-pan) {
        box-shadow: inset 0 0 0 3px var(--focus-color);
        z-index: 9;
      }

      ::part(region highlight-end) {
        box-shadow: 3px 0 0 3px var(--focus-color);
        z-index: 9;
      }

      ::part(region highlight-end)::after,
      ::part(region highlight-pan)::after {
        content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='dimgray'><path d='M727-440H520v-80h207l-75-75q-11-12-11.5-28.5T652-652q12-12 28-12t28 12l144 144q6 6 8.5 13t2.5 15q0 8-2.5 15t-8.5 13L708-308q-12 12-28 12t-28-12q-12-12-12-28.5t12-28.5l75-75Zm-494 0 75 75q11 12 11.5 28.5T308-308q-12 12-28 12t-28-12L108-452q-6-6-8.5-13T97-480q0-8 2.5-15t8.5-13l144-144q12-12 28-12t28 12q12 12 12 28.5T308-595l-75 75h207v80H233Z'/></svg>");
        position: absolute;
        top: 50px;
        right: -13px;
        background-color: var(--white);
        border-radius: 100%;
        padding: .25em .25em 0;
        box-shadow: 0px 1px 2px var(--shadow-color);
        pointer-events: none;
        z-index: 10;
      }

      ::part(region highlight-start)::before,
      ::part(region highlight-pan)::before {
        content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='dimgray'><path d='M727-440H520v-80h207l-75-75q-11-12-11.5-28.5T652-652q12-12 28-12t28 12l144 144q6 6 8.5 13t2.5 15q0 8-2.5 15t-8.5 13L708-308q-12 12-28 12t-28-12q-12-12-12-28.5t12-28.5l75-75Zm-494 0 75 75q11 12 11.5 28.5T308-308q-12 12-28 12t-28-12L108-452q-6-6-8.5-13T97-480q0-8 2.5-15t8.5-13l144-144q12-12 28-12t28 12q12 12 12 28.5T308-595l-75 75h207v80H233Z'/></svg>");
        position: absolute;
        top: 50px;
        left: -13px;
        background-color: var(--white);
        border-radius: 100%;
        padding: .25em .25em 0;
        box-shadow: 0px 1px 2px var(--shadow-color);
        pointer-events: none;
        z-index: 10;
      }

      ::part(region-content) {
        position: absolute;
        top: 0;
        margin-top: 0px;
        padding: 1em 1em;
        font-size: .85em;
        color: var(--text-color);
      }

      ::part(timestamp) {
        position: absolute;
        padding: .5rem 1rem;
        bottom: 0;
        right: 0;
        font-size: .85em;
        color: var(--text-secondary-color);
      }

      ::part(cursor) {
        background-color: var(--link-color);
        width: 2px;
      }

      /* Triangles at the top and bottom of the timestamp cursor */
      ::part(cursor)::before {
        content: "";
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);

        width: 0px;
        height: 0px;
        border-top: 14px solid var(--link-color);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }

      ::part(cursor)::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);

        width: 0px;
        height: 0px;
        border-bottom: 14px solid var(--link-color);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
      }
    }
  }
}

@media screen and (width > 50em) {
  .cue-row .slider-select {
    background-color: var(--white);
  }
}