<!DOCTYPE html>
<html dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body style="border-left: 1px solid #CCC; padding: 10px 0 0 30px;">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>