<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Begin Header -->
<head>
<title>ENC4298  - Page Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="https://reach.ucf.edu/styles/global_v2.css" type="text/css" />
<link rel="stylesheet" href="../Public%20Files/course.css" type="text/css" />

</head>
<body>
<div id="content">
<div class="header"> 

  ENC4298  - Technical Communication for the Virtual Workplace<br />
 Madelyn Flammia
  <div class="hr"><hr/></div> 
</div>
<!-- End Header -->

<h1>Module Title</h1>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur imperdiet 
  consectetuer nulla. In ipsum velit, tincidunt non, imperdiet nec, gravida vel, 
  neque. Nam vitae nibh. Maecenas aliquam augue eget arcu. Suspendisse lorem. 
</p>

<p>Nulla sed ante. Aliquam sit amet arcu. Phasellus magna lorem, vestibulum vitae, 
  accumsan in, consequat a, odio. Aliquam blandit urna vitae dolor. Cras vestibulum. 
  Ut eget ligula vehicula erat congue ornare. Vestibulum vehicula auctor justo.<br /> 
</p>



<h2 class="bullet">
    Section 1 Title</h2>
<ul>
  <li>Praesent convallis nunc non nulla. In consequat tempor diam. Suspendisse 
    potenti. Sed accumsan pede ut urna. Vivamus varius condimentum mi. Phasellus 
    tempor, purus viverra malesuada feugiat, urna velit placerat diam, id ornare 
    arcu odio ut est. Maecenas dignissim aliquet erat. Vestibulum erat nibh, eleifend 
    ut, vestibulum in, rhoncus at, orci. Sed fermentum sapien.</li>
  <li>Integer eget est in elit gravida tincidunt. Curabitur consequat, tortor 
    et vestibulum egestas, dui dolor sagittis metus, non tincidunt quam pede ut 
    sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
    cubilia Curae; Phasellus eget leo in nulla posuere eleifend. Etiam sit amet 
    mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada 
    fames ac turpis egestas.</li>
  <li>Donec in neque. Quisque dui. Mauris sollicitudin, turpis sit amet varius 
    pulvinar, magna erat scelerisque libero, id congue sem nibh eu purus.</li>
</ul>


<h2 class="bullet">
    Section 2 Title</h2>
<ul>
  <li> Praesent convallis nunc non nulla. In consequat tempor diam. Suspendisse 
    potenti. Sed accumsan pede ut urna. Vivamus varius condimentum mi. Phasellus 
    tempor, purus viverra malesuada feugiat, urna velit placerat diam, id ornare 
    arcu odio ut est. Maecenas dignissim aliquet erat. Vestibulum erat nibh, eleifend 
    ut, vestibulum in, rhoncus at, orci. Sed fermentum sapien.</li>
  <li> Integer eget est in elit gravida tincidunt. Curabitur consequat, tortor 
    et vestibulum egestas, dui dolor sagittis metus, non tincidunt quam pede ut 
    sem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
    cubilia Curae; Phasellus eget leo in nulla posuere eleifend. Etiam sit amet 
    mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada 
    fames ac turpis egestas. </li>

  <li>Donec in neque. Quisque dui. Mauris sollicitudin, turpis sit amet varius 
    pulvinar, magna erat scelerisque libero, id congue sem nibh eu purus. </li>
</ul>



<p><strong>Note:</strong> Tables below have style elements defined in stylesheet in &gt;head&lt;</p>
<div class="m2x">
<table class="tborder">
  <tr>
    <th scope="row">Row 1 Header</th>
    <td>Phasellus justo mauris, condimentum rutrum, porta vitae, porttitor vitae, 
      massa. Aliquam sit amet nisl sit amet dolor congue consectetuer. </td>
  </tr>
  <tr>
    <th scope="row">Row 2 Header</th>
    <td>Nulla facilisi. Donec feugiat. Donec pede wisi, dignissim eu, condimentum 
      a, laoreet quis, mi. </td>
  </tr>
  <tr>
    <th scope="row">Row 3 Header</th>
    <td>Pellentesque lobortis nibh ut enim. Maecenas odio est, sollicitudin ut, 
      facilisis quis, ullamcorper non, sem. Integer venenatis nonummy ipsum.</td>
  </tr>
</table>
</div>

<div class="m2x">
<table class="tborder">
  <tr>
    <th scope="col">Column 1 Header</th>
    <th scope="col">Column 2 Header</th>
  </tr>
  <tr>
    <td>Donec feugiat velit quis orci. Nulla a enim a elit dictum molestie. </td>
    <td>Nulla facilisi. Donec feugiat. Donec pede wisi, dignissim eu, condimentum 
      a, laoreet quis, mi. </td>
  </tr>
  <tr>
    <td>Nullam convallis neque. Nam odio. Ut bibendum molestie nibh. </td>
    <td>Pellentesque lobortis nibh ut enim. Maecenas odio est, sollicitudin ut, 
      facilisis quis, ullamcorper non, sem. Integer venenatis nonummy ipsum.</td>
  </tr>
</table>
</div>





 <!-- Begin Footer -->
</div><!-- End #content --> 
</body>
</html>
<!-- End Footer -->