<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Begin Header -->
<head>
<title>ENC4298  - Page Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="https://reach.ucf.edu/styles/global_v2.css" type="text/css" />
<link rel="stylesheet" href="../Public%20Files/course.css" type="text/css" />
	<style type="text/css">
        object{
            height:0px;
            width:0px;
        }
    </style>
</head>
<body>
<div id="content">
<div class="header"> 

  ENC4298  - Technical Communication for the Virtual Workplace<br />
 Madelyn Flammia
  <div class="hr"><hr/></div> 
</div>
<!-- End Header -->
<h1>Page Title</h1>

<div class="c"><object type="application/x-shockwave-flash" data="FILE_NAME.swf" width="0" height="0">
<param name="movie" value="FILE_NAME.swf" />
</object></div>

<p>If you cannot view the above SWF file, you may not have the latest version of Adobe Flash Player installed on your system. You can download the free Adobe Flash Player <a href="http://get.adobe.com/flashplayer/">here</a>.</p>

 <!-- Begin Footer -->
</div><!-- End #content --> 
</body>
</html>
<!-- End Footer -->