<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Begin Header -->
<head>
<title>ENC4298  - Page Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="https://reach.ucf.edu/styles/global_v2.css" type="text/css" />
<link rel="stylesheet" href="../Public%20Files/course.css" type="text/css" />

</head>
<body>
<div id="content">
<div class="header"> 

  ENC4298  - Technical Communication for the Virtual Workplace<br />
 Madelyn Flammia
  <div class="hr"><hr/></div> 
</div>
<!-- End Header -->

<h1>Page Title</h1>

<p>You are about to view/download a Microsoft PowerPoint File. If you do not have PowerPoint installed 
on your system, you can download a free <a href="http://www.microsoft.com/downloads/details.aspx?displaylang=en&amp;FamilyID=048dc840-14e1-467d-8dca-19d2a8fd7485">PowerPoint Viewer  from Microsoft</a> for your Windows computer. If you have a Mac or Windows computer you can use <a href="http://www.openoffice.org/">OpenOffice</a>. </p>

<p class="c important"><a href="#" title="download the powerpoint">View/Download 
the PowerPoint Presentation</a></p>



 <!-- Begin Footer -->
</div><!-- End #content --> 
</body>
</html>
<!-- End Footer -->