<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Begin Header -->
<head>
<title>Syllabus</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="https://reach.ucf.edu/styles/global_v2.css" type="text/css" />
<link rel="stylesheet" href="../Public%20Files/course.css" type="text/css" />

</head>
<body>
<div id="content">
<div class="header"> 

  ENC4298  - Technical Communication for the Virtual Workplace<br />
 Madelyn Flammia
  <div class="hr"><hr/></div> 
</div>
<!-- End Header -->

<h1>Syllabus <br /> Semester/Year</h1>

<h2 class="bullet">Instructor Contact</h2>

<div class="m2x">
<table class="tborder">
	<tr>
		<th scope="row">Instructor </th>
		<td>Madelyn Flammia</td>
	</tr>
	<tr>
		<th scope="row">Office </th>
		<td>Office</td>
	</tr>
	<tr>
		<th scope="row">Office 
		Hours</th>
		<td>Office Hours</td>
	</tr>
	<tr>
		<th scope="row">Phone </th>
		<td>Faculty Phone</td>
	</tr>
	<tr>
		<th scope="row">E-mail </th>
		<td><a href="mailto:Madelyn.Flammia@ucf.edu?subject=ENC4298 ">Madelyn.Flammia@ucf.edu</a></td>
	</tr>
</table>
</div>


<h2 class="bullet">Course Information</h2>

<div class="m2x">
<table class="tborder">
	<tr>
		<th scope="row">Course Name </th>
		<td>ENC4298  - Technical Communication for the Virtual Workplace</td>
	</tr>
	<tr>
		<th scope="row">Credit Hours </th>
		<td>## Credit Hours</td>
	</tr>
	<tr>
		<th scope="row">Semester/Year </th>
		<td>Semester/Year</td>
	</tr>
	<tr>
		<th scope="row">Location</th>
		<td>Meeting day, time and location</td>
	</tr>
</table>
</div>


<h2 class="bullet">Course Description</h2>

<p>Include <strong>catalog description</strong> and <strong>prerequisites</strong></p>


<h2 class="bullet">Course Objectives</h2>
<ul>
	<li>Objective One</li>
	<li>Objective Two</li>
	<li>Objective Three</li>
</ul>


<h2 class="bullet">Required Text</h2>

<ul class="bib">
	<li>Required Text One</li>
	<li>Required Text Two</li>
	<li>Required Text Three</li>
</ul>


<h2 class="bullet">Supplemental Texts</h2>

<ul class="bib">
	<li>Text one...</li>
	<li>Text two...</li>
	<li>Text three...</li>
</ul>


<h2 class="bullet">Course Requirements</h2>

<p>Add your course requirements here.</p>

<h3>Missed Assignments/Make-Ups/Extra Credit</h3>

<p>Add your due date policies here.</p>


<h2 class="bullet">Evaluation and Grading</h2>

<p>Add your evaluation and grading policies here. You may also choose to keep a table below that best fits your grading scale.</p>

<div class="m2x">
<table class="tborder">
	<tr>
		<th scope="col">Letter Grade </th>
		<th scope="col">Points </th>
	</tr>
	<tr>
		<td>A </td>
		<td>93 &ndash; 100 points </td>
	</tr>
	<tr>
		<td>A- </td>
		<td>90 &ndash; 92 points </td>
	</tr>
	<tr>
		<td>B+ </td>
		<td>87 &ndash; 89 points </td>
	</tr>
	<tr>
		<td>B </td>
		<td>83 &ndash; 86 points </td>
	</tr>
	<tr>
		<td>B- </td>
		<td>80 &ndash; 82 points </td>
	</tr>
	<tr>
		<td>C+ </td>
		<td>77 &ndash; 79 points </td>
	</tr>
	<tr>
		<td>C </td>
		<td>73 &ndash; 76 points </td>
	</tr>
	<tr>
		<td>C- </td>
		<td>70 &ndash; 72 points </td>
	</tr>
	<tr>
		<td>D+ </td>
		<td>67 &ndash; 69 points </td>
	</tr>
	<tr>
		<td>D </td>
		<td>63 &ndash; 66 points </td>
	</tr>
	<tr>
		<td>D- </td>
		<td>60 &ndash; 62 points </td>
	</tr>
	<tr>
		<td>F </td>
		<td>59 and below </td>
	</tr>
</table>
</div>

<div class="m2x">
<table class="tborder">
	<tr>
		<th scope="col">Letter Grade </th>
		<th scope="col">Points </th>
	</tr>
	<tr>
		<td>A </td>
		<td>90-100</td>
	</tr>
	<tr>
		<td>B </td>
		<td>80-89</td>
	</tr>
	<tr>
		<td>C </td>
		<td>70-79</td>
	</tr>
	<tr>
		<td>D</td>
		<td>60-69</td>
	</tr>
	<tr>
		<td>F </td>
		<td>59 or below </td>
	</tr>
</table>
</div>

<div class="m2x">
<table class="tborder">
	<tr>
		<th scope="col">Assignment </th>
		<th scope="col">Percentage of Grade </th>
	</tr>
	<tr>
		<td>Assignment 1 </td>
		<td>0%</td>
	</tr>
	<tr>
		<td>Assignment 2 </td>
		<td>0%</td>
	</tr>
	<tr>
		<td>Assignment 3 </td>
		<td>0%</td>
	</tr>
	<tr>
		<td>Assignment 4</td>
		<td>0%</td>
	</tr>
	<tr>
		<td>Total </td>
		<td>100% </td>
	</tr>
</table>
</div>


<h2 class="bullet">Attendance Policy</h2>

<p>Add your attendance policies here.</p>


<h2 class="bullet">Academic Honesty</h2>

<p>Plagiarism and Cheating of any kind on an examination, quiz, or assignment will result at least in an "F" for that assignment (and may, depending on the severity of the case, lead to an "F" for the entire course) and may be subject to appropriate referral to the Office of Student Conduct for further action. See the <a href="http://www.goldenrule.sdes.ucf.edu/"><cite>UCF Golden Rule</cite></a> for further information. I will assume for this course that you will adhere to the academic creed of this University and will maintain the highest standards of academic integrity. In other words, don't cheat by giving answers to others or taking them from anyone else. I will also adhere to the highest standards of academic integrity, so please do not ask me to change (or expect me to change) your grade illegitimately or to bend or break rules for one person that will not apply to everyone.</p>


<h2 class="bullet">Disability Statement</h2>

<p>The University of Central Florida is committed to providing reasonable accommodations for all persons with disabilities. This syllabus is available in alternate formats upon request. Students with disabilities who need accommodations in this course must contact the professor at the beginning of the semester to discuss needed accommodations. No accommodations will be provided until the student has met with the professor to request accommodations. Students who need accommodations must be registered with Student Disability Services, Student Resource Center Room 132, phone (407) 823-2371, TTY/TDD only phone (407) 823-2116, before requesting accommodations from the professor. </p>


<h2 class="bullet">Copyright</h2>

<p>This course may contain copyright protected materials such as audio or video clips, images, text materials, etc. These items are being used with regard to the Fair Use doctrine in order to enhance the learning environment. Please do not copy, duplicate, download or distribute these items. The use of these materials is strictly reserved for this online classroom environment and your use only. All copyright materials are credited to the copyright holder.</p>


<h2 class="bullet">Third-Party Software and FERPA</h2>

<p>During this course you might have the opportunity to use public online services and/or software applications sometimes called third-party software such as a blog or wiki. While some of these could be required assignments, you need <strong>not</strong> make any personally identifying information on a public site. Do not post or provide any private information about yourself or your classmates. Where appropriate you may use a pseudonym or nickname. Some written assignments posted publicly may require personal reflection/comments, but the assignments will not require you to disclose any personally identity-sensitive information. If you have any concerns about this, please contact your instructor.</p>


 <!-- Begin Footer -->
</div><!-- End #content --> 
</body>
</html>
<!-- End Footer -->