<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Begin Header -->
<head>
<title>ENC4298  - Page Title</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="https://reach.ucf.edu/styles/global_v2.css" type="text/css" />
<link rel="stylesheet" href="../Public%20Files/course.css" type="text/css" />

</head>
<body>
<div id="content">
<div class="header"> 

  ENC4298  - Technical Communication for the Virtual Workplace<br />
 Madelyn Flammia
  <div class="hr"><hr/></div> 
</div>
<!-- End Header -->

<h1>Page Title</h1>

<p>You are about to view/download a Microsoft Word File. If you do not have Word
  installed  on your system, you can download the free Word Viewer from Microsoft 
<a href="http://www.microsoft.com/downloads/details.aspx?FamilyID=3657CE88-7CFA-457A-9AEC-F4F827F20CAC&amp;DisplayLang=en" title="microsoft word viewer download"> here</a>.
The viewer is 11.7 MB in size, and should take approximately 29 minutes to download on a 56.6k modem.</p>

<p class="c important"><a href="#" title="download the word file">View/Download 
the Word File</a></p>

 <!-- Begin Footer -->
</div><!-- End #content --> 
</body>
</html>
<!-- End Footer -->