.file-reference-table-container{
    max-width: 900px;
}

.table-wrapper{
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border: solid;
    border-color: var(--gray-lighter);
    border-radius: 0.5em;
    align-items: center;
}
